{% load static %}

{% block body %}

{% include 'navigations.html' %}


<div class="bef_log_page" style="font-family:'Monotype Corsiva'; font-size:25px; color: white; background-color: black; text-align: center" value="admin_login">
    Admin Login
</div>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" class="form-control" name="uname" placeholder="Enter Username">
    <label>Password</label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" class="btn btn-primary"style="margin-top:2%; color:white; background-color:maroon" value="Login">
</form>

{% if error == "no" %}
<script>
    alert("Login Successful");
    window.location = ('{% url 'admin_home' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Invalid credentials");
</script>
{% endif %}
{% include 'footer.html' %}
<script>
if($(".bef_log_page").attr("value")=="user_login"){
	$(".user_login").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="latest_jobs"){
	$(".latest_jobs").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="recruiter_login"){
	$(".recruiter_login").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="admin_login"){
	$(".admin_login").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="home"){
	$(".home").attr("style","border-bottom:2px solid black;");
}
else{
	$(".home").attr("style","border-bottom:2px solid black;");
}
$('body').attr('style','background:#5a451b4f');

</script>
{% endblock %}
