{% load static %}

{% block body %}

{% include 'navigations.html' %}

<div class="bef_log_page" style="font-family:'Monotype Corsiva'; font-size:25px; color: white; background-color: black; text-align: center" value="latest_jobs">
    Latest Jobs
</div>

<hr>

<div class="container">
<table class="table table-hover" id="example">
    <thead>
    <tr style="background-color: maroon; color: white; text-align: center">
        <th>No.</th>
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    {% for i in data %}
    <tr style="text-align: center">
        <td>{{forloop.counter}}</td>
        <td>{{i.title}}</td>
        <td>{{i.recruiter.company}}</td>
        <td>{{i.location}}</td>
        <td>{{i.start_date}}</td>
        <td>{{i.end_date}}</td>
        <td><a href="{% url 'user_login' %}" class="btn btn-success btn-sm p-3">Login to Apply</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% include 'footer.html' %}
<script>
if($(".bef_log_page").attr("value")=="user_login"){
	$(".user_login").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="latest_jobs"){
	$(".latest_jobs").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="recruiter_login"){
	$(".recruiter_login").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="admin_login"){
	$(".admin_login").attr("style","border-bottom:2px solid black;");
}
else if($(".bef_log_page").attr("value")=="home"){
	$(".home").attr("style","border-bottom:2px solid black;");
}
else{
	$(".home").attr("style","border-bottom:2px solid black;");
}
$('body').attr('style','background:#5a451b4f');
</script>
{% endblock %}
